ENV=dev
PROJECT_NAME=invoice_agent
PROJECT_VERSION=0.1.0
PROJECT_DESCRIPTION="An agentic app to parse invoice"
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000
BASE_PATH=/agentic_web_starter
OPENAI_API_KEY="dummy-key"

# Working directory for uploads, logs, and vector data (default: current directory).
WORKING_DIR=

JWT_SECRET_KEY=DC2HSFzRChX4RchvyjTJSkChJZwHg3ewPXXxNZiAd73
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

USE_SQL=true

IMAP_HOST=somehost
IMAP_PORT=000
IMAP_USERNAME=sampleusername
IMAP_PASSWORD=samplepassword

SENDER_EMAIL=some@example.abc